* {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

ul li a {
	text-decoration: none;
}

body {
	background-image: url(../img/bg_pattern.jpg);
	background-repeat: repeat;
}

header {
	width: 100%;
	height: 45px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #b2b2b2;
	border-top: 1px solid #dbdcdd;
	display: flex;
	flex-direction: row;
}

#hleft {
	width: 400px;
	height: 100%;
	background-color: #f2f2f2;
	margin-left: 200px;

}

#hleft {
	margin-left: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#hleft .phone {
	width: 34px;
	height: 34px;
	background-image: url(../img/联系.jpg);
}

#hleft .pnumber span {
	font-family: "arial narrow";
	font-weight: 500;
	font-size: 20px;
	color: black;
}

#hleft .timer {
	height: 100%;
	width: 210px;
	background-color: #f2f2f2;
}

#hleft .timer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#top h1 {
	font-size: 14px;
	color: #5a5a5a;
}

#p1 {
	font-size: 14px;
	color: #5A5A5A;
}

.hright {
	display: flex;
	flex-direction: row;

	align-items: center;
	float: right;
	width: 350px;
	height: 100%;
	background-color: #F2F2F2;
	margin-left: 200px;
}

.hright .search {
	width: 220px;
	height: 100%;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hright .search .search_photo {
	width: 16px;
	height: 19px;

	background-image: url(../img/search.jpg);
	background-repeat: no-repeat;
	background-position: 1px 4px;
}

.hright .share {
	width: 34px;
	height: 34px;
	background-color: #F2F2F2;



}

.hright .shoppingcart {
	width: 34px;
	height: 34px;
	background-color: #F2F2F2;
	margin-left: 10px;

}

nav {
	width: 100%;
	height: 148px;
	background-image: url(../img/bg_pattern.jpg);
	background-repeat: repeat;
	overflow: hidden;
	border-bottom: 1px solid #CCCCCC;
}

#logo {
	width: 207px;
	height: 75px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-top: 50px;
	margin-left: 320px;
	float: left;


}

#menu {
	width: 600px;
	height: 52px;
	background-image: url(../img/bg_pattern.jpg);
	background-repeat: repeat;
	float: left;
	margin-top: 30px;
}


#menu ul {

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
}

#menu ul li {
	width: 60px;
	height: 100%;
	text-align: center;



}

#menu ul li a {
	display: block;
	height: 100%;
	color: #fa6f57;
	font-size: 14px;
	padding-top: 22px;

}

#menu ul li:hover a {
	background-color: #FA6F57;
	color: #ffffff;

}

#navbar {
	width: 331px;
	height: 26px;
	float: left;
	margin-top: 30px;
	position: relative;
	top: 21px;
	left: -263px;
}

#navbar ul {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: absolute;


}

#navbar ul li a {
	font-size: 12px;
	color: #777777;

}

#navbar ul li:hover a {
	color: #FA6F57;
}

#login {
	width: 100px;
	height: 15px;
	float: right;

}

#login span a {
	text-decoration: none;
	font-size: 15px;
	color: #5A5A5A;
}

#login span:hover a {
	color: #FA6F57;
}

main {
	width: 1200px;
	height: auto;
	/* background-color: orange; */
	margin: 0 auto;
	display: flex;
}

main div:nth-child(1) {
	width: 450px;
	background-image: url(../img/bg_pattern.jpg);
	background-repeat: repeat;
}

main div:nth-child(1) .zoom {
	width: 900px;
	height: 400px;
	background-color: #ccc;
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
}

main div:nth-child(1) .zoom .pic {
	width: 100%;
	height: 340px;
	background-color: red;
}

main div:nth-child(1) .zoom .pic img {
	width: 100%;
	height: 340px;
}

main div:nth-child(1) .zoom ul {
	display: flex;
}

main div:nth-child(1) .zoom ul li {
	list-style: none;
	width: 20%;
	height: 60px;
	border: 1px solid #FA6F57;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
}

main div:nth-child(2) {
	width: 450px;
	background-color: hotpink;
}

#details {
	width: 1200px;
	min-height: 200px;
	margin: 0 auto;
}

#smallBox {
	position: absolute;
	width: 450px;
	height: 350px;
	float: left;

}

#smallBox span {
	width: 100px;
	height: 100px;
	position: absolute;
	background: rgba(200, 200, 200, 0.6);
	left: 0;
	top: 0;
	cursor: move;
	display: none;
}

#bigBox {
	width: 450px;
	height: 350px;
	overflow: hidden;
	float: left;
	display: none;
	position: absolute;
	left: 500px;
	margin-left:-50px;


}
#smallBox img{
	width: 450px;
	height: 350px;
}
#bigBox img {
	width: 1350px;
	height: 1050px;
	position: absolute;
	z-index: 99;
}

#detail_shop{
	position: absolute;
	top: 245px;
	right: 161px;
	width: 685px;
	height: auto;
	background-color:#FFF;
}
#detail_shop h3{
	color: #5A5A5A;
	font-size: 16px;
	height: 40px;
 
	}
#detail_shop .price{
	width: 100%;
	height: 40px;
	background-color: #F0F8FF;
	font-size: 20px;
	text-decoration: line-through;
}
#detail_shop .current{
	width: 100%;
	height: 40px;
	background-color:#FFFFFF;
	font-size: 20px;
	color: red;
}
#detail_shop .color{
	width: 100%;
	height: 100px;
	background-color:#F0F8FF;
}
#detail_shop .color select{
	 
}
#detail_shop .location{
	width: 100%;
	height: 100px;
	background-color:#FFFFFF ;
}
 
#detail_shop .add_cart{
	width: 100px;
	height: 50px;
	background:#fff;
}
#detail_shop .buy{
	width: 100px;
	height: 50px;
	background: #fff;
	margin-left: 100px;
}
#detail_shop .add_cart:hover{
	background-color: red;
	color: #fff;
}
#detail_shop .buy:hover{
	background-color: red;
	color: #fff;
}
/*--footer--*/
.top-footer iframe {
	width: 100%;
	min-height: 30px;
	border: none;

}


.footer .footer-bottom .container {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
 

/* .footer-bottom .container .col-sm-3{
	float: left;
} */
.top-footer1 h2 {
	font-size: 20px;
	color: #FA6F57;
	font-family: 'OleoScript-Regular';
	margin: 0 48px 5px;
}

.footer:nth-child(1) {
	background-image: url(../img/bg_pattern.jpg);
	background-repeat: repeat;
}

.top-footer1 input[type="text"] {
	width: 9%;
	padding: 12px;
	outline: none;
	color: #BDBDBD;
	font-size: 10px;
	background: none;
	border: 1px solid #BDBDBD;
	margin-left: 50px;
}

.top-footer1 input[type="submit"] {
	font-size: 14px;
	color: #fff;
	background-color: #FA6F57;
	border: none;
	padding: 10.8px 0;
	width: 10%;
	vertical-align: top;
	outline: none;
}

.top-footer1 input[type="submit"]:hover {
	background-color: #52d0c4;
}

.footer {
	border-top: 1px solid #BDBDBD;
	background-image: url(../img/bg_pattern.jpg);
	background-repeat: repeat;
}

.footer-top {
	padding: 3em 0;
}

.top-footer1 {
	margin: 6em 0 0;
}

.footer-bottom-cate h6 {
	font-size: 1.1em;
	color: #000;
	margin: 0 0 0.5em;
	font-family: 'OleoScript-Regular';
}

.footer-bottom-cate ul {
	padding: 0;
	margin: 0;
}

.footer-bottom-cate ul li {
	list-style: none;
	padding: 0.2em 0;
}

.footer-bottom-cate ul li a {
	text-decoration: none;
	font-size: 0.8em;
	color: #777777;
}

.footer-bottom-cate ul li a:hover {
	color: #52D0C4;
	padding-left: 5px;
}

.cate-bottom ul li {
	font-size: 1em;
	color: #000;
}

.cate-bottom ul li.phone {
	color: #FA6F57;
	padding: 1em 0 0em;
}

p.footer-class {
	font-size: 1em;
	color: #B2B2B2;
	margin: 2em 0 0;
	text-align: center;
}

p.footer-class a {
	text-decoration: none;
	color: #52D0C4;
}

p.footer-class a:hover {
	color: #B2B2B2;
}

.footer-bottom {
	padding: 4em 0;
	border-top: 1px solid #777777;
}

/*--//footer--*/
